body{
    margin: 0;
}
.photo-album{
    display: flex;
    flex-wrap: wrap;
    
}
.photo-frame{
    height: 369px;
    width: 300px;
    border: 5px solid black;
    border-radius: 5px;
    position: relative;
    
    margin: 25px;
    overflow: hidden;
    
}

.photo-frame:hover{
    border: 5px solid rgb(251, 182, 182);
    box-shadow: 10px 10px 100px rgb(120, 150, 154);
}

.photo-frame .photo img{
    width: 100%;
    
}
.photo-frame:hover .photo img{
    
    transform: scale(1.6) rotate(30deg);
    transition: 2s;
    
}

.photo-details{
    position: absolute;
    display: none;
    height: 369px;
    width: 300px;
    top: 0;
    
}

.photo-frame:hover .photo-details{
    display: block;
    background-color: rgba(0, 0, 0, 0.684);
}

.photo-frame:hover .photo-details h2{
    color: white;
    text-align: center;
    background-color: rgb(181, 181, 249);
}
.photo-frame:hover .photo-details p{
    color: rgb(239, 235, 20);
}
.photo-frame .photo-details p{
    padding-left: 20px;
    padding-right: 10px;
}

#box{
    height: 100px;
    width: 500px;
    background-color: rgb(225, 193, 255);
    border-left: 7px solid palegreen;
    border-radius: 10px;
    border-image: linear-gradient(40deg, tomato, lightsalmon);
    border-image-slice: 1;
    
}

h1{
    text-align: center;
    background-color: blanchedalmond;
}
    
    
#box p{
margin-left: 10px;
}

